/* === Typography System === */
@layer base {
  h1 {
    @apply font-mono font-semibold text-3xl leading-tight tracking-tight mb-4;
  }

  h2 {
    @apply font-mono font-semibold text-2xl leading-snug tracking-tight mb-6;
  }

  h3 {
    @apply font-medium text-xl leading-normal tracking-normal mb-4;
  }

  h4,
  h5,
  h6 {
    @apply font-medium text-lg leading-normal tracking-normal;
  }

  a,
  .accent {
    @apply font-medium hover:text-emerald-300 transition-colors duration-200;
  }

  code,
  pre,
  kbd {
    @apply font-mono border-2 border-emerald-500/50;
  }
}

/* === Tailwind Typography Customization === */
@layer utilities {
  .prose {
    --tw-prose-body: oklch(96.7% 0.003 264.542);
    --tw-prose-headings: oklch(96.7% 0.003 264.542);
    --tw-prose-links: oklch(96.7% 0.003 264.542); /* gray-200 */
    --tw-prose-bold: oklch(84.5% 0.143 164.978); /* emerald-300 */
    --tw-prose-counters: oklch(96.7% 0.003 264.542);
    --tw-prose-bullets: oklch(96.7% 0.003 264.542);
    --tw-prose-hr: oklch(84.5% 0.143 164.978);
    --tw-prose-quotes: oklch(84.5% 0.143 164.978);
    --tw-prose-quote-borders: oklch(84.5% 0.143 164.978);
    --tw-prose-captions: oklch(84.5% 0.143 164.978);
  }

  .prose blockquote {
    @apply bg-gray-950/60 px-3 py-0.5 rounded-md border-l-4 border-emerald-300/60;
  }

  .prose :where(h1) {
    @apply font-semibold;
  }

  .prose :where(h2) {
    @apply font-semibold;
  }

  .prose :where(h3, h4, h5, h6) {
    @apply font-medium;
  }

  /* Code Snippets */
  .prose pre {
    @apply px-2.5 py-3 leading-snug rounded-md !bg-gray-950 text-xs;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #10b981 transparent;
  }

  .prose pre::-webkit-scrollbar {
    height: 8px;
    background: transparent;
  }

  .prose pre::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-emerald-500;
  }

  .prose pre::-webkit-scrollbar-thumb:hover {
    @apply bg-emerald-400;
  }

  .prose a {
    @apply font-medium hover:text-emerald-300 transition-colors duration-200;
  }
}
