---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
// import Subscribe from '../../components/Subscribe.astro'; // For later use
import { sortItemsByDateDesc, getAllTags, getPostsByTag } from '../../utils/data-utils';

// Fetch both blog and project posts
const blogPosts = await getCollection('blog');
const projectPosts = await getCollection('projects');
const posts = [...blogPosts, ...projectPosts].sort(sortItemsByDateDesc);

// Aggregate tags from all posts, sorted alphabetically
const tags = getAllTags(posts).sort((a, b) => a.name.localeCompare(b.name));
---

<BaseLayout
  title="Tags"
  description="Explore tag directory for easy navigation and discovery. Find a wide range of topics, articles, and insights organized by tags, making it effortless to locate the content that interests you most."
  showHeader={false}
>
  <h1 class="mb-10 mt-2 text-center">All Tags</h1>
  <div class="flex flex-wrap gap-2 md:gap-3">
    {
      tags.map((tag) => {
        const postCount = getPostsByTag(posts, tag.id).length;
        return (
          <a
            class="flex flex-col justify-between items-start group bg-zinc-900 hover:bg-gray-950 px-2 md:px-2.5 py-2.5 md:py-3 border-2 border-transparent hover:border-emerald-300 rounded-lg transition-all duration-250 ease-in-out grow max-w-1/2"
            href={`/tags/${tag.id}`}
          >
            <div class="grow">
              <h2 class="text-base md:text-lg group-hover:underline group-hover:underline-offset-4 group-hover:text-emerald-300 transition-all duration-250 ease-in-out mb-0 leading-none tracking-tight md:tracking-normal">
                {tag.name}
              </h2>
              <div class="mt-1.5 leading-none tracking-wide">
                {postCount} {postCount === 1 ? 'post' : 'posts'}
              </div>
            </div>
          </a>
        );
      })
    }
  </div>
  {/* <Subscribe class="my-16 sm:my-24" /> */}
</BaseLayout>
