---
import type { HTMLAttributes } from 'astro/types';

type AnchorProps = HTMLAttributes<'a'> & { type?: never };
type ButtonProps = HTMLAttributes<'button'> & { href?: never };

type Props = ButtonProps | AnchorProps;

const { href, class: className, ...rest } = Astro.props;
const buttonClasses =
    'inline-flex items-center justify-center px-6 py-2 font-accent text-gray-900 tracking-wide bg-emerald-400 border border-emerald-400 rounded-full transition-all duration-300 hover:bg-emerald-500 shadow-md hover:shadow-lg shadow-emerald-400/50 hover:shadow-emerald-400/75 hover:scale-[0.99]';
---

{
    href ? (
        <a href={href} class:list={[buttonClasses, className]} {...rest}>
            <slot />
        </a>
    ) : (
        <button class:list={[buttonClasses, 'cursor-pointer', className]} {...rest}>
            <slot />
        </button>
    )
}
