---
import siteConfig from '../data/site-config';
---

<header class="w-full max-w-3xl mx-auto mb-6 mt-2 py-5 md:py-6 bg-zinc-950 text-center rounded-lg glow-border">
  {
    siteConfig.logo && siteConfig.logo?.src ? (
      <a href="/">
        <img src={siteConfig.logo.src} alt={siteConfig.logo.alt || ''} class="max-h-12" />
      </a>
    ) : (
      <a class="text-4xl md:text-5xl tracking-wide text-emerald-300 glow-text" href="/">
        {siteConfig.title}
      </a>
    )
  }
  {siteConfig.subtitle && <p class="text-sm md:text-lg tracking-wide leading-tight mt-3 md:mt-6 ">{siteConfig.subtitle}</p>}
</header>
