---
import siteConfig from '../data/site-config';
---

<header class="w-full max-w-3xl mx-auto mb-6 mt-3 py-6 bg-zinc-950/80 text-center rounded-lg backdrop-blur-xs glow-border">
  {
    siteConfig.logo && siteConfig.logo?.src ? (
      <a href="/">
        <img src={siteConfig.logo.src} alt={siteConfig.logo.alt || ''} class="max-h-12" />
      </a>
    ) : (
      <a class="text-4xl tracking-wide text-emerald-300 md:text-5xl glow-text" href="/">
        {siteConfig.title}
      </a>
    )
  }
  {siteConfig.subtitle && <p class="text-sm tracking-wide leading-tight mt-3 md:text-lg">{siteConfig.subtitle}</p>}
</header>
