---
import siteConfig from '../data/site-config';
---

<header class="w-full max-w-3xl mx-auto mb-6 mt-3 px-3 py-6 bg-zinc-950/95 text-center rounded-lg glow-border">
  {
    siteConfig.logo && siteConfig.logo?.src ? (
      <a href="/">
        <img src={siteConfig.logo.src} alt={siteConfig.logo.alt || ''} class="max-h-12" />
      </a>
    ) : (
      <a class="font-heading text-3xl glow-text leading-snug tracking-wider font-bold text-emerald-300" href="/">
        {siteConfig.title}
      </a>
    )
  }
  {siteConfig.subtitle && <p class="text-sm font-body tracking-tight leading-tight mt-4">{siteConfig.subtitle}</p>}
</header>
