---
import { marked } from 'marked';
import siteConfig from '../data/site-config';
import Button from './Button.astro';
import { Image } from 'astro:assets';

const hero = siteConfig.hero;
---

{
  (hero?.title || hero?.image?.src || hero?.text || (hero?.actions && hero.actions.length > 0)) && (
    <section class="w-full flex flex-col gap-4 md:gap-8 mb-12 last:mb-2">
      {hero.title && <h1 class="text-emerald-300">{hero.title}</h1>}
      {hero.image?.src && (
        <figure>
          <Image
            src="/hero.jpg"
            alt="One of Odin's raven on a laptop"
            width={1200}
            height={900}
            class="w-full shadow-sm mb-2 border border-emerald-600/60 rounded-md shadow-emerald-600/60 md:rounded-lg"
            loading="eager"
            decoding="async"
          />
          <figcaption class="mt-1.5 text-xs">Hero image caption</figcaption>
        </figure>
      )}
      {hero.text && <div class="max-w-none prose md:text-lg" set:html={marked.parse(hero.text)} />}
      {hero.actions && hero.actions.length > 0 && (
        <div class="flex flex-wrap justify-center gap-4 mt-2">
          {hero.actions.map((action) => (
            <Button href={action.href}>{action.text}</Button>
          ))}
        </div>
      )}
    </section>
  )
}
