---
import { type CollectionEntry } from 'astro:content';

type Props = { project: CollectionEntry<'projects'>; class?: string; headingLevel?: 'h2' | 'h3' };

const { project, class: className, headingLevel = 'h2' } = Astro.props;
const { title, description } = project.data;
const TitleTag = headingLevel;

const previewClasses = 'flex justify-between items-start gap-8 group';
const innerClasses =
  'grow relative bg-gray-950 border-2 border-gray-200/50 rounded-lg p-3 md:p-5 shadow-sm shadow-emerald-400/30 transition-all duration-250 ease-in-out hover:shadow-emerald-400/50 hover:border-emerald-300/90 hover:scale-[1.01]';
---

<a class:list={[previewClasses, className]} href={`/projects/${project.id}/`}>
  <div class={innerClasses}>
    <TitleTag class="">
      {title}
    </TitleTag>
    {description && <div class="mt-2 md:mt-3">{description}</div>}
  </div>
</a>
